@import 'ember-bootstrap/bootstrap';
@import 'ember-bootstrap/root';
@import 'ember-bootstrap/print';
@import 'ember-bootstrap/reboot';
@import 'ember-bootstrap/functions';
@import 'ember-bootstrap/variables';
@import 'ember-bootstrap/mixins';

body {
  padding-top: 40px;
}

html {
  overflow-y: scroll;
}

.library-item {
  min-height: 150px;
}

.has-feedback {
  position: relative;

  .check-icon {
    position: absolute;
    right: 10px;
    top: 42px;
    color: #008000;
    font-size: 20px;
  }
}

.vtop {
  vertical-align: top !important;
}

.not-bold {
  font-weight: normal !important;
}
