<select class="form-control" {{on 'change' this.change}}>
  {{#each this.authors as |author|}}
    <option value={{author.id}} selected={{is-equal author.id this.default.id}}>
      {{author.name}}
    </option>
  {{/each}}
</select>
