<div class="card library-item bg-light mb-4">
  <div class="card-header">
    <h5 class="card-title">
      {{@item.name}}
    </h5>
    <p class="card-text">
      Address:
      {{@item.address}}
    </p>
    <p class="card-text">
      Phone:
      {{@item.phone}}
    </p>
  </div>
  <div class="card-body text-right">
    {{yield}}
  </div>
</div>
