<div class="card text-center text-white rounded-3 bg-secondary">
  <div class="card-header">
    <h1 class="card-title">
      {{@title}}
    </h1>
  </div>
  <div class="card-body bg-info">
    <p class="display-1">
      {{if @number @number '...'}}
    </p>
  </div>
</div>
