<h2>
  List
</h2>
<div class="row">
  {{#each this.model as |library|}}
    <div class="col-md-4">
      <LibraryItem @item={{library}}>
        <LinkTo
          @route="libraries.edit"
          @model={{library.id}}
          class="btn btn-success btn-xs"
        >
          Edit
        </LinkTo>
        <button
          type="button"
          class="btn btn-danger btn-xs"
          {{on 'click' (fn this.deleteLibrary library)}}
        >
          Delete
        </button>
      </LibraryItem>
    </div>
  {{/each}}
</div>
