<h1>
  Libraries
</h1>
<div class="well">
  <ul class="nav nav-pills">
    <li>
      <LinkTo @route="libraries.index">
        List All
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="libraries.new">
        Add New
      </LinkTo>
    </li>
  </ul>
</div>
